/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import '@ionic/angular/css/palettes/dark.system.css';


:root {
  --ion-color-primary: #3ed3c6;
  --ion-color-primary-rgb: 230, 86, 76;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #0d968a;
  --ion-color-primary-tint: #75f1e6;
   --ion-background-color: #111111; /* پس‌زمینه کلی اپ */
  --ion-text-color: #ffffff;       /* متن‌ها روشن بشه */

    --ion-color-secondary: #ffb400;
    --ion-color-tertiary: #00c896;
    --ion-color-success: #00c851;
    --ion-color-warning: #ffbb33;
    --ion-color-danger: #ff4444;
    --ion-color-medium: #92949c;
    --ion-color-light: #f4f5f8;
    --ion-background-color-rgb: 249, 249, 251;





    --ion-item-background: #ffffff;
    --ion-toolbar-background: #ffffff;
    --ion-tab-bar-background: #ffffff;
    --ion-card-background: #ffffff;


  


    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255, 255, 255;
    --ion-border-color: #222222;



    /* Step colors for subtle backgrounds and separators */
    --ion-color-step-50: #1e1e1e;
    --ion-color-step-100: #2a2a2a;
    --ion-color-step-150: #363636;
    --ion-color-step-200: #414141;
    --ion-color-step-250: #4d4d4d;
    --ion-color-step-300: #595959;
    --ion-color-step-350: #656565;
    --ion-color-step-400: #717171;
    --ion-color-step-450: #7d7d7d;
    --ion-color-step-500: #898989;
    --ion-color-step-550: #949494;
    --ion-color-step-600: #a0a0a0;
    --ion-color-step-650: #acacac;
    --ion-color-step-700: #b8b8b8;
    --ion-color-step-750: #c4c4c4;
    --ion-color-step-800: #d0d0d0;
    --ion-color-step-850: #dbdbdb;
    --ion-color-step-900: #e7e7e7;
    --ion-color-step-950: #f3f3f3;

    /* More dark mode variables for component-specific styling */
    --ion-item-background: #1e1e1e;
--ion-toolbar-background: #303030;

--ion-tab-bar-background: rgba(0, 0, 0, 0.1);
    --ion-card-background: #1e1e1e;


}










// همیشه Toast رو بالای ion-app نشون بده
.toast-container {
  z-index: 99999 !important;
}


