@if(isLoading){
  <app-loading></app-loading>
}

<ion-header translucent> 
  <ion-toolbar class="dark-toolbar">
    <div class="toolbar-content">
      <img src="assets/images/logo1.png" alt="App Logo" class="app-logo" />
      <ion-title class="app-title">ClosetAI</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="home-content fullscreen">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="intro-section">
    <h1 class="main-title">
      <span>Closet AI Studio</span>
    </h1>
    <p class="subtitle">
      Try outfits on yourself with AI.<br />
    
    </p>
  </div>

  <div class="card-container">
        @for (category of categories; track category.id) {
          <ion-card class="option-card" (click)="goToPage(category.id)">
            <img [src]="category.image" [alt]="category.title" />
            <ion-card-header>
              <ion-card-title>{{ category.title }}</ion-card-title>
            </ion-card-header>
          </ion-card>
        }
   
  </div>
</ion-content>
